<div class="card-body">
    <form action="">
        <div class="form-group">
            <label for="">Email</label>
            <input type="text" name="" value="{{username}}" id="" class="form-control" placeholder="" aria-describedby="helpId">
            <label for="">Password</label>
            <input type="password" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
          </div>
          <div><br>
              <button class="btn btn-primary">Lưu</button>
          </div>
    </form>
</div>